@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* For Firefox */
/* Width */


/* For Webkit-based browsers */
/* Width */


*::-webkit-scrollbar {
display:none;

}

/* Track */
.scrollbar-hide {
scrollbar-width:none;
}

/* Handle */
